.vscode
venv/
__pycache__
**/__pycache__
**/config.json
visualiser-api/src/config/config.json
dist/
.DS_Store
**/.DS_Store
visualiser-api/.DS_Store
visualiser-api/src/.DS_Store
events-processor/src/.DS_Store
